<a href="https://colab.research.google.com/github/elizabethyoo/team_9/blob/data%2FBFS_mf/Complie_sbp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import glob
import re
import numpy as no
import seaborn as sns
import matplotlib.pyplot as plt

# Get the file names in the folder

In [3]:
files = glob.glob(f"/content/drive/MyDrive/Group 9 Project Documents/Datasets/business_pulse/*.xlsx")

In [4]:
emp_files = [x for x in files if 'empclass' in x]
st_sector_files = [x for x in files if '/national_state_sector' in x]
st_files = [x for x in files if '/national_state_' in x and not '/national_state_sector' in x]
naics3_files = [x for x in files if 'naics3' in x]
indexes_files = [x for x in files if 'indexes' in x]
msa_files = [x for x in files if 'top_50_msa' in x]
response_urr_files = [x for x in files if 'response_urr' in x]

# Explore data structure of each data set

In [5]:
# Indexes
pd.read_excel(indexes_files[0]).head(2)

  ST NAICS_SECTOR               INDEX_NAME ESTIMATE_PERCENTAGE
0  -            -  Expected recovery index              -0.58%
1  -            -   Financial stress index              -0.39%

In [6]:
# Exmployee size
pd.read_excel(emp_files[0]).head(2)

  ST NAICS_SECTOR EMPCLASS  ...               ANSWER_TEXT  ESTIMATE_PERCENTAGE     SE
0  -            -        -  ...     Large negative effect                51.4%  0.21%
1  -            -        -  ...  Moderate negative effect                38.5%  0.27%

[2 rows x 10 columns]

In [7]:
# response_urr_files
pd.read_excel(response_urr_files[0]).head(2)

  STATE_TAB  RESPONSE_COUNT  URR
0        AK              80  22%
1        AL             250  19%

In [8]:
# st_sector_files
pd.read_excel(st_sector_files[0]).head(2)

  ST NAICS_SECTOR  ...  ESTIMATE_PERCENTAGE     SE
0  -            -  ...                51.4%  0.21%
1  -            -  ...                38.5%  0.27%

[2 rows x 8 columns]

## Note:
1. Data doesn't have date/time column.
2. Percentage sign is included in the dataset.

## To do:
1. Add date to the dataframe to indicate when the data is collected. 
2. Strip the "%" out so we can treat the value as float data type.

In [9]:
def p2f(x):
    return float(x.strip('%'))/100

def add_date_period_to_df(files_name):
  # Getting file name --getting date range of the data
  
  regex = r'\d+[A-Z][a-z]+\d+_\d+[A-Z][a-z]+\d+'  
  period_str = re.search(regex, files_name.split('/')[-1])[0]
  date_period = period_str.split('_')


  date_start = pd.to_datetime(date_period[0], format= '%d%b%y')
  date_end = pd.to_datetime(date_period[1], format= '%d%b%y')
  
  # the data that was in percentage got turn into fraction
  df = pd.read_excel(files_name,  converters={'ESTIMATE_PERCENTAGE':p2f, 'SE':p2f}).assign(DATE_START=date_start).assign(DATE_END=date_end)
  return df

In [10]:
test_index_df = add_date_period_to_df(indexes_files[0])
test_index_df.head()

  ST NAICS_SECTOR  ... DATE_START   DATE_END
0  -            -  ... 2020-04-26 2020-05-02
1  -            -  ... 2020-04-26 2020-05-02
2  -            -  ... 2020-04-26 2020-05-02
3  -            -  ... 2020-04-26 2020-05-02
4  -           11  ... 2020-04-26 2020-05-02

[5 rows x 6 columns]

# Append date into 1 big data set by data type

## Index Files

In [11]:
# append data into 1 big date set
df_index_all = pd.DataFrame()

# loop thru all files in the list and concat them into one df
for file in indexes_files:
  df_index = add_date_period_to_df(file)
  df_index_all =pd.concat([df_index_all, df_index])

In [12]:
df_index_all.shape

(13582, 6)

In [13]:
df_index_all.head()

  ST NAICS_SECTOR  ... DATE_START   DATE_END
0  -            -  ... 2020-04-26 2020-05-02
1  -            -  ... 2020-04-26 2020-05-02
2  -            -  ... 2020-04-26 2020-05-02
3  -            -  ... 2020-04-26 2020-05-02
4  -           11  ... 2020-04-26 2020-05-02

[5 rows x 6 columns]

In [14]:
df_index_all.tail()

     ST NAICS_SECTOR  ... DATE_START   DATE_END
279  WV            -  ... 2021-09-27 2021-10-03
280  WY            -  ... 2021-09-27 2021-10-03
281  WY            -  ... 2021-09-27 2021-10-03
282  WY            -  ... 2021-09-27 2021-10-03
283  WY            -  ... 2021-09-27 2021-10-03

[5 rows x 6 columns]

## State & NAICS

In [15]:
# append data into 1 big date set
df_st_sector_all = pd.DataFrame()

# loop thru all files in the list and concat them into one df
for file in st_sector_files:
  df_index = add_date_period_to_df(file)
  df_st_sector_all =pd.concat([df_st_sector_all, df_index])

In [16]:
df_st_sector_all.shape

(911072, 10)

In [17]:
df_st_sector_all.head()

  ST NAICS_SECTOR  INSTRUMENT_ID  ...      SE  DATE_START   DATE_END
0  -            -              1  ...  0.0021  2020-04-26 2020-05-02
1  -            -              1  ...  0.0027  2020-04-26 2020-05-02
2  -            -              1  ...  0.0029  2020-04-26 2020-05-02
3  -            -              1  ...  0.0008  2020-04-26 2020-05-02
4  -            -              1  ...  0.0006  2020-04-26 2020-05-02

[5 rows x 10 columns]

In [18]:
df_st_sector_all.tail()

       ST NAICS_SECTOR  INSTRUMENT_ID  ...      SE  DATE_START   DATE_END
17363  WY            -              7  ...  0.0393  2021-09-27 2021-10-03
17364  WY            -              8  ...  0.0700  2021-09-27 2021-10-03
17365  WY            -              9  ...  0.0802  2021-09-27 2021-10-03
17366  WY           62             13  ...  0.0000  2021-09-27 2021-10-03
17367  WY           62              5  ...  0.0000  2021-09-27 2021-10-03

[5 rows x 10 columns]

# TO DO

1. The state name is in abbreviation. Data structure/ value for state name is different from the household data. Therefore, a conversion of the state name is needed. (Either on the small business dataset or the household dataset)

2. Select features that can be used as an indicator for business recovery.

3. from the household datasets, find interesting variables that might be associated with the business recovery.

In [19]:
state_name_mapping = {
  "AL": "Alabama",
  "AK": "Alaska",
  "AZ": "Arizona",
  "AR": "Arkansas",
  "CA": "California",
  "CO": "Colorado",
  "CT": "Connecticut",
  "DE": "Delaware",
  "FL": "Florida",
  "GA": "Georgia",
  "HI": "Hawaii",
  "ID": "Idaho",
  "IL": "Illinois",
  "IN": "Indiana",
  "IA": "Iowa",
  "KS": "Kansas",
  "KY": "Kentucky",
  "LA": "Louisiana",
  "ME": "Maine",
  "MD": "Maryland",
  "MA": "Massachusetts",
  "MI": "Michigan",
  "MN": "Minnesota",
  "MS": "Mississippi",
  "MO": "Missouri",
  "MT": "Montana",
  "NE": "Nebraska",
  "NV": "Nevada",
  "NH": "New Hampshire",
  "NJ": "New Jersey",
  "NM": "New Mexico",
  "NY": "New York",
  "NC": "North Carolina",
  "ND": "North Dakota",
  "OH": "Ohio",
  "OK": "Oklahoma",
  "OR": "Oregon",
  "PA": "Pennsylvania",
  "RI": "Rhode Island",
  "SC": "South Carolina",
  "SD": "South Dakota",
  "TN": "Tennessee",
  "TX": "Texas",
  "UT": "Utah",
  "VT": "Vermont",
  "VA": "Virginia",
  "WA": "Washington",
  "WV": "West Virginia",
  "WI": "Wisconsin",
  "WY": "Wyoming"
}