<a href="https://colab.research.google.com/github/elizabethyoo/team_9/blob/explore%2F02-eda-sbps/SBPS_indexlevel_aggMonth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

drive.mount('/content/gdrive')
root_path = '/content/gdrive/MyDrive/team_9/Datasets'

Mounted at /content/gdrive

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline
plt.rcParams['figure.figsize'] = 15,10
import warnings
warnings.filterwarnings('ignore')

In [36]:
root_path = '/content/gdrive/MyDrive/team_9/Datasets'
combo_df = pd.read_csv(root_path + '/business_pulse/combined_indexes.csv')

In [37]:
combo_df.head()

  ST NAICS_SECTOR  ...  DATE_START    DATE_END
0  -            -  ...  2020-04-26  2020-05-02
1  -            -  ...  2020-04-26  2020-05-02
2  -            -  ...  2020-04-26  2020-05-02
3  -            -  ...  2020-04-26  2020-05-02
4  -           11  ...  2020-04-26  2020-05-02

[5 rows x 6 columns]

In [60]:
# filter for state level data
Filter1 = (combo_df.ST != "-") & (combo_df.NAICS_SECTOR == '-')
combo_df = combo_df[Filter1]
combo_df.head()

AttributeError: ignored

In [39]:
# drop unnecessary columns and convert datatype to datetime
combo_df = combo_df.drop(columns=['NAICS_SECTOR', 'DATE_END'])
combo_df.DATE_START = pd.to_datetime(combo_df.DATE_START) 
combo_df.head()

    ST                    INDEX_NAME  ESTIMATE_PERCENTAGE DATE_START
80  AK       Expected recovery index                -0.59 2020-04-26
81  AK        Financial stress index                -0.36 2020-04-26
82  AK  Operational challenges index                -0.39 2020-04-26
83  AK       Overall sentiment index                -0.66 2020-04-26
84  AL       Expected recovery index                -0.51 2020-04-26

In [41]:
# group by state and index name, then get the monthly mean with resample
df = combo_df.groupby(['ST', 'INDEX_NAME']).resample('M', on = "DATE_START").mean()
df.head()

                                       ESTIMATE_PERCENTAGE
ST INDEX_NAME              DATE_START
AK Expected recovery index 2020-04-30            -0.590000
                           2020-05-31            -0.594000
                           2020-06-30            -0.606667
                           2020-07-31                  NaN
                           2020-08-31            -0.595000

In [55]:
# pivot the index column to make each index a feature
df2 = df.pivot_table(index=['ST','DATE_START'], columns='INDEX_NAME', values='ESTIMATE_PERCENTAGE')

In [59]:
# df2.to_csv(root_path + "/sbps_agg_month.csv")