<a href="https://colab.research.google.com/github/elizabethyoo/team_9/blob/explore%2F02-eda-sbps/SBPS_indexlevel_aggMonth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')
root_path = '/content/gdrive/MyDrive/DS4A/Group 9 Project Documents'

Mounted at /content/gdrive

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline
plt.rcParams['figure.figsize'] = 15,10
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
combo_df = pd.read_csv('/content/drive/MyDrive/DS4A/Datasets /business_pulse/combined_indexes.csv')

In [ ]:
combo_df.head()

  ST NAICS_SECTOR  ...  DATE_START    DATE_END
0  -            -  ...  2020-04-26  2020-05-02
1  -            -  ...  2020-04-26  2020-05-02
2  -            -  ...  2020-04-26  2020-05-02
3  -            -  ...  2020-04-26  2020-05-02
4  -           11  ...  2020-04-26  2020-05-02

[5 rows x 6 columns]

In [ ]:
Filter1 = (combo_df.ST != "-") & (combo_df.NAICS_SECTOR == '-')
combo_df = combo_df[Filter1]
combo_df.head()

    ST NAICS_SECTOR  ...  DATE_START    DATE_END
80  AK            -  ...  2020-04-26  2020-05-02
81  AK            -  ...  2020-04-26  2020-05-02
82  AK            -  ...  2020-04-26  2020-05-02
83  AK            -  ...  2020-04-26  2020-05-02
84  AL            -  ...  2020-04-26  2020-05-02

[5 rows x 6 columns]

In [ ]:
combo_df = combo_df.drop(columns=['NAICS_SECTOR', 'DATE_END'])
combo_df.head()

    ST                    INDEX_NAME  ESTIMATE_PERCENTAGE  DATE_START
80  AK       Expected recovery index                -0.59  2020-04-26
81  AK        Financial stress index                -0.36  2020-04-26
82  AK  Operational challenges index                -0.39  2020-04-26
83  AK       Overall sentiment index                -0.66  2020-04-26
84  AL       Expected recovery index                -0.51  2020-04-26

In [ ]:
#need to convert date_start from obj to datetimeindex
#once converted, do the group by date start, st and index name
#then resample by 'M' at level that will keep date st and index (I think level 2? maybe 3?) 
#then index=false to flatten and then export to csv for monthly aggregated data

In [ ]:
Grouped_df = combo_df.groupby(['DATE_START', 'ST', 'INDEX_NAME']).mean()
Grouped_df

                                            ESTIMATE_PERCENTAGE
DATE_START ST INDEX_NAME
2020-04-26 AK Expected recovery index                     -0.59
              Financial stress index                      -0.36
              Operational challenges index                -0.39
              Overall sentiment index                     -0.66
           AL Expected recovery index                     -0.51
...                                                         ...
2021-09-27 WV Overall sentiment index                     -0.35
           WY Expected recovery index                     -0.40
              Market challenges index                      0.09
              Operational challenges index                -0.16
              Overall sentiment index                     -0.25

[9880 rows x 1 columns]

In [ ]:
Grouped_df.resample('M', level=2).mean()

TypeError: ignored

In [ ]:
combo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9880 entries, 80 to 13581
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ST                   9880 non-null   object
 1   INDEX_NAME           9880 non-null   object
 2   ESTIMATE_PERCENTAGE  9880 non-null   float64
 3   DATE_START           9880 non-null   object
dtypes: float64(1), object(3)
memory usage: 385.9+ KB