<a href="https://colab.research.google.com/github/elizabethyoo/team_9/blob/main/time_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mount google drive

from google.colab import drive

drive.mount('/content/gdrive')
root_path = '/content/drive/MyDrive/Group 9 Project Documents/'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
root_path

'/content/drive/MyDrive/Group 9 Project Documents/'

In [3]:
import pandas as pd
import glob
import re
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import time
import re
pd.set_option('display.float_format', lambda x: '%.3f' % x)
from pandas import read_csv

# Preprocessing

In [4]:
hps_state_agg_path = '/content/gdrive/MyDrive/Group 9 Project Documents/Datasets/cleaned_datasets/hps_state_agg.csv'
sbps_agg_month_path = '/content/gdrive/MyDrive/Group 9 Project Documents/Datasets/cleaned_datasets/sbps_agg_month.csv'
unemp_cleaned_path = '/content/gdrive/MyDrive/Group 9 Project Documents/Datasets/cleaned_datasets/unemployment_cleaned.csv'

hps_df = pd.read_csv(hps_state_agg_path)
sbps_df = pd.read_csv(sbps_agg_month_path)
unemp_df = pd.read_csv(unemp_cleaned_path)

## Extract features of interest

In [5]:
hps_df.info()
hps_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 38 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   EST_ST                                     918 non-null    int64
 1   YEAR                                       918 non-null    int64
 2   MONTH                                      918 non-null    int64
 3   AGE_GRP_18_24                              918 non-null    float64
 4   AGE_GRP_25_39                              918 non-null    float64
 5   AGE_GRP_40_49                              918 non-null    float64
 6   AGE_GRP_50_59                              918 non-null    float64
 7   AGE_GRP_60_69                              918 non-null    float64
 8   AGE_GRP_70_up                              918 non-null    float64
 9   AGE_GRP_less_18                            918 non-null    float64
 10  COVID_VACC_DOSE_not_plan_all_dose          918 non-null    float64
 11  COVID_VACC_DOSE_plan_to_receive_all_doses  918 non-null    float64
 12  COVID_VACC_DOSE_received_all_doses         918 non-null    float64
 13  EDUCATION_bachelor_or_higher               918 non-null    float64
 14  EDUCATION_high_school_diploma_GED          918 non-null    float64
 15  EDUCATION_less_high school                 918 non-null    float64
 16  EDUCATION_some_college_asscte_degree       918 non-null    float64
 17  INCOME_BEFORE_TAX_$100,000_$149,999        918 non-null    float64
 18  INCOME_BEFORE_TAX_$150,000_$199,999        918 non-null    float64
 19  INCOME_BEFORE_TAX_$200,000_above           918 non-null    float64
 20  INCOME_BEFORE_TAX_$25,000_$34,999          918 non-null    float64
 21  INCOME_BEFORE_TAX_$35,000_$49,999          918 non-null    float64
 22  INCOME_BEFORE_TAX_$50,000_$74,999          918 non-null    float64
 23  INCOME_BEFORE_TAX_$75,000_$99,999          918 non-null    float64
 24  INCOME_BEFORE_TAX_Less_$25,000             918 non-null    float64
 25  RACE_Any_other_race_alone_or_mixed_race    918 non-null    float64
 26  RACE_Asian,_alone                          918 non-null    float64
 27  RACE_Black_alone                           918 non-null    float64
 28  RACE_White_alone                           918 non-null    float64
 29  FOOD_SCARCITY                              918 non-null    float64
 30  HOUSING_INSECURITY                         918 non-null    float64
 31  MALE                                       918 non-null    float64
 32  FEMALE                                     918 non-null    float64
 33  HISPANIC_ORIGIN                            918 non-null    float64
 34  RECVD_COVID_VACC                           459 non-null    float64
 35  CHILDCARE_ISSUE                            306 non-null    float64
 36  STATE                                      918 non-null    object
 37  STATE_ABBR                                 900 non-null    object
dtypes: float64(33), int64(3), object(2)
memory usage: 272.7+ KB

       EST_ST     YEAR  ...  RECVD_COVID_VACC  CHILDCARE_ISSUE
count 918.000  918.000  ...           459.000          306.000
mean   28.961 2020.500  ...            60.992           20.399
std    15.685    0.500  ...            26.938            6.659
min     1.000 2020.000  ...             7.805            8.108
25%    16.000 2020.000  ...            39.266           15.710
50%    29.000 2020.500  ...            73.897           19.340
75%    42.000 2021.000  ...            81.605           24.528
max    56.000 2021.000  ...            94.367           38.584

[8 rows x 36 columns]

dropping covid vax rate since more than 50% of entries missing

In [6]:
# Want to subset: YEAR, MONTH, COVID_VACC_DOSE_received_all_doses, HOUSING_INSECURITY, STATE, STATE_ABBR
hps_tmp = hps_df[['YEAR', 'MONTH', 'HOUSING_INSECURITY', 'STATE', 'STATE_ABBR']]

In [7]:
unemp_df.info() 
unemp_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040 entries, 0 to 1039
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state              1040 non-null   object
 1   date               1040 non-null   object
 2   unemployment_rate  1038 non-null   float64
dtypes: float64(1), object(2)
memory usage: 24.5+ KB

       unemployment_rate
count           1038.000
mean               6.633
std                3.294
min                1.700
25%                4.325
50%                5.900
75%                7.900
max               29.700

keep unemp_df as is

In [8]:
sbps_df.info()
sbps_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884 entries, 0 to 883
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ST                            884 non-null    object
 1   DATE_START                    884 non-null    object
 2   Expected recovery index       884 non-null    float64
 3   Financial stress index        468 non-null    float64
 4   Market challenges index       104 non-null    float64
 5   Market(s) challenges index    52 non-null     float64
 6   Operational challenges index  884 non-null    float64
 7   Overall sentiment index       884 non-null    float64
dtypes: float64(6), object(2)
memory usage: 55.4+ KB

       Expected recovery index  ...  Overall sentiment index
count                  884.000  ...                  884.000
mean                    -0.519  ...                   -0.463
std                      0.071  ...                    0.098
min                     -0.703  ...                   -0.780
25%                     -0.570  ...                   -0.515
50%                     -0.526  ...                   -0.450
75%                     -0.467  ...                   -0.393
max                     -0.305  ...                   -0.217

[8 rows x 6 columns]

In [9]:
# variables of interst: ST, DATE_START, Expected recovery index, Overall sentiment index
sbps_tmp = sbps_df[['ST', 'DATE_START', 'Expected recovery index', 'Overall sentiment index']]

## TODO (for multivariate prediction!!): Now merge temporary dfs into one df, based on state and date. We need to first parse the dates (monthly granularity), and deal with missing values e.g. missing state names, missing numbers (impute via sample mean?)


# Univariate autogression 
Want: 1-step lookahead for univariate prediction (dependent variable vs. time)

In [10]:
# sbps_tmp
# hps_tmp 
# unemp_df
eri_df = sbps_tmp.drop(['Overall sentiment index'], axis=1)
osi_df = sbps_tmp.drop(['Expected recovery index'], axis=1)

In [27]:
# create and evaluate a static autoregressive model
from pandas import read_csv
from matplotlib import pyplot
from statsmodels.tsa.ar_model import AutoReg
from sklearn.metrics import mean_squared_error
from math import sqrt
# load dataset
series = read_csv('/content/gdrive/MyDrive/Group 9 Project Documents/Datasets/cleaned_datasets/eri_ca.csv', header=0, index_col=0, parse_dates=True, squeeze=True)
# split dataset
X = series.values
train, test = X[1:len(X)-7], X[len(X)-7:]
# train autoregression
model = AutoReg(train, lags=29)
model_fit = model.fit()
print('Coefficients: %s' % model_fit.params)
# make predictions
predictions = model_fit.predict(start=len(train), end=len(train)+len(test)-1, dynamic=False)
for i in range(len(predictions)):
	print('predicted=%f, expected=%f' % (predictions[i], test[i]))
rmse = sqrt(mean_squared_error(test, predictions))
print('Test RMSE: %.3f' % rmse)
# plot results
pyplot.plot(test)
pyplot.plot(predictions, color='red')
pyplot.show()

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

ImportError: ignored

In [19]:
! pip in

array([['2020-04-30', '2020-05-31', '2020-06-30', '2020-08-31',
        '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31',
        '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
        '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
        '2021-09-30'],
       [-0.62, -0.6420000000000001, -0.6466666666666666, -0.61,
        -0.5974999999999999, -0.59, -0.6, -0.6074999999999999, -0.62,
        -0.605, -0.5700000000000001, -0.555, -0.5166666666666667,
        -0.4975, -0.495, -0.5266666666666667, -0.5225]], dtype=object)